<div class="car_owner">
  <div class="car_owner_top" ><h1>车主您好！</h1></div>
  <div class="car_owner_body">
    <h4>您的登记信息</h4>
    <div class="car_owner_info">
      <table cellspacing="0" cellpadding="">
        <tr>
          <td><label>姓名</label><input type="text" /></td>
          <td><label class="lab_1">性别</label><input type="text" /></td>
        </tr>
        <tr>
          <td><label>手机号</label><input  type="text"></td>
          <td><label class="lab_1">生日</label><input type="text"></td>
        </tr>
        <tr>
          <td><label>客户类型</label><input  type="text"></td>
          <td><label class="lab_1">单位</label><input type="text"></td>
        </tr>
        <tr><td colspan="2"><label>联系地址</label><input type="text" class="adress_input"></td></tr>
      </table>
    </div>
    <div class="car_owner_car" >
      <div class="car_title">您的爱车<span>2</span>台</div>
      <div class="car_info" >
        <div class="car_one_info">
          <p>浙A19034</p>
          <img src="/assets/car_02.png" alt="<%=  %>" />
        </div>
        <div class="car_one_info">
          <p>浙A16034</p>
          <img src="images/car_02.png">
        </div>
      </div>
    </div>
  </div>
  <div class="car_owner_car" >
    <div class="car_title">您的会员卡<span>2</span>张</div>
    <div class="card_info" >
      <div class="card_one_info">

        <img src="images/car_card_01.png">
        <p>满1000送200</p>
      </div>
      <div class="card_one_info">

        <img src="images/car_card_02.png">
        <p>精致洗车卡</p>
      </div>
      <div class="card_one_info">

        <img src="images/car_card_03.png">
        <p>施工进度</p>
      </div>
      <div class="card_one_info">

        <img src="images/car_card_04 .png">
        <p>施工现场实况</p>
      </div>
    </div>
  </div>
  <div class="card_surplus">
    <p>卡内剩余</p>
    <table cellpadding="0" cellspacing="0">
      <tr>
        <td>精致洗车</td>
        <td>2014-8-05</td>
        <td>消费1次</td>
        <td>剩余19次</td>
      </tr>
    </table>
  </div>
</div>

</div>

